body,
td {
  font-size: 12pt !important;
  color: #efefef !important;
  background-color: #1e1e1e !important;
}

.text-dim {
  color: #9b9b9b !important;
}

.text-smaller {
  font-size: .75rem !important;
}

.bg-dim {
  background-color: #181818 !important;
}

.bg-main {
  background-color: #1e1e1e !important;
}