body {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  font-size: 12pt;
  color: #efefef;
  background-color: #1e1e1e;
}

.text-dim {
  color: #9b9b9b;
}

.bg-dim {
  background-color: #181818 !important;
}

.bg-main {
  background-color: #1e1e1e !important;
}

.text-smaller {
  font-size: .75rem;
}